body{
    margin: 0;
}

header {
    background-color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed; /* Fija el encabezado en la parte superior */
    top: 0; /* Mantiene el encabezado en la parte superior */
    width: 100%; /* Ocupa el ancho completo de la ventana */
    z-index: 1000; /* Ajusta el índice z para superponer otros elementos */
}

/* Estilos generales para la sección de Stock */
.stock {
    padding: 20px;
    text-align: center;
}

.stock h2 {
    font-size: 24px;
}

.stock p {
    font-size: 18px;
    margin: 20px 0;
}

.stock-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s;
}

/* Estilos para los títulos de las tarjetas */
.card-title {
    font-size: 20px;
    margin-top: 10px;
}

/* Estilos para las descripciones de las tarjetas */
.card-description {
    font-size: 16px;
    margin: 10px 0;
}

/* Estilos para eliminar el subrayado azul del enlace de correo electrónico */
.card a[href^="mailto:"] {
    text-decoration: none;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para los logos de redes sociales */
.social-media a {
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
    filter: invert(1); /* Invertir colores para logotipos claros */
}

/* Estilos para el nombre del creador */
.creator p {
    font-size: 16px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

/* Estilos para los datos de la empresa */
.company-info p {
    font-size: 14px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}


/* Estilos para dispositivos móviles */
@media (max-width: 568px) {
    header {
        background-color: black; /* Fondo negro */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo img {
        width: 80px; /* Tamaño más pequeño para el logo */
        margin-right: 13px;
    }

    .brand-name {
        font-size: 30px;
        margin-top: 9px;
        margin-bottom: 10px;
        color: white; /* Texto blanco */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra en el texto */
    }

    .mobile-buttons {
        text-align: center;
        display: flex;
        flex-direction: row; /* Alineación horizontal */
        justify-content: center; /* Centra horizontalmente los botones */
    }

    .button {
        font-size: 1.1rem;
        display: inline-block; /* Mostrar los botones en línea */
        width: auto; /* Ajustar automáticamente el ancho */
        margin: 10px; /* Espaciado entre botones */
        padding: 7px;
        background-color: #3033359f;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 7px;
        cursor: pointer;
    }

    .stock {
        margin-top: 15rem;
        background-color: #f5f5f5;
    }

    .stock h2 {
        font-size: 33px;
        color: #333;
    }

    .stock p {
        font-size: 22px;
        color: #555;
    }

    .stock-button {
        background-color: #40ce58;
        color: white;
    }

    .stock-button:hover {
        background-color: #29b954;
    }

    /* Estilos para la sección de las tarjetas */
.cards-section {
    background-color: #f9f9f9; /* Fondo gris claro */
    padding: 20px;
    text-align: center;
}

/* Estilos para el título con sombras */
.section-title {
    font-size: 28px;
    color: #333; /* Texto oscuro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombras */
}

/* Estilos para las tarjetas */
.card {
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

/* Estilos para la imagen dentro de las tarjetas */
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Estilos para el párrafo dentro de las tarjetas */
.card-paragraph {
    font-size: 16px;
    margin: 15px 0;
}

/* Estilos para el botón "Ver Más" */
.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Verde */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el cursor */
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

.whatsapp-icon img {
    width: 60px; /* Tamaño del ícono de WhatsApp */
    height: auto;
}

.about-section {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

/* Estilos para el título con sombras */
.section-title {
    font-size: 28px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilos para el párrafo sobre iWatch */
.about-paragraph {
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}

/* Estilos para el contenedor de tarjetas */
.card-container {
    display: flex;
    flex-direction: column;
}

/* Estilos para las tarjetas */
.card {
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.card img{
    width: 11rem;
}

/* Estilos para los títulos de las tarjetas */
.card-title {
    font-size: 20px;
    margin-top: 10px;
    color: #000;
    text-decoration: none;
}

/* Estilos para las descripciones de las tarjetas */
.card-description {
    font-size: 16px;
    margin: 10px 0;
    color: #000;
    text-decoration: none;
}

/* Estilos para eliminar el subrayado azul del enlace de correo electrónico */
.card a[href^="mailto:"] {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.map-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Azul */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.map-button:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el cursor */
}

#map-container {
    width: 100%;
    height: 400px; /* Altura deseada del mapa */
    margin-top: 14rem; /* Ajusta el margen superior según tus necesidades */
}

.custom-card {
    padding: 10px; /* Reducción del espaciado interior para dispositivos móviles */
}

.custom-card h3 {
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombras para los títulos */
}

/* Estilo para las palabras dentro de <strong> */
.custom-card strong {
    color: #111010; /* Cambia el color de las palabras dentro de <strong> */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Sombras para las palabras dentro de <strong> */
}

.custom-card p {
    margin: 8px 0; /* Ajuste del espaciado entre párrafos para dispositivos móviles */
}

.footer {
    padding: 10px;
}

.social-media {
    margin: 10px 0;
}

.social-media a {
    margin: 0 5px;
}

.social-media img {
    width: 35px;
    height: 35px;
}

}
    


/* Estilos para pantallas más grandes (tabletas y escritorio) */
@media (min-width: 769px) {
    header {
        background-color: black;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .logo img {
        width: 100px;
    }

    .brand-name {
        margin: 0;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .mobile-menu {
        display: none;
    }

    .stock {
        background-color: #fff; /* Fondo blanco */
    }

    .stock h2 {
        color: #000; /* Texto negro */
    }

    .stock p {
        color: #333; /* Texto gris oscuro */
    }

    .stock-button {
        background-color: #3498db;
        color: white;
    }

    .stock-button:hover {
        background-color: #2980b9;
    }
}
